<div class="jumbotron header-text">
  <h1>Placeholder Used Gamestore Name</h1>
</div>

<div class="container">

  <ul>
    <% @lists.each do |list| %>
      <li><%= list.name %></li>
    <% end %>
  </ul>
  <p>Test</p>
</div>
